# Don't include files in these local folders
build/*
test/*
tmp/*
results/*

# But keep the folders themselves
!tmp/.gitkeep 
!results/.gitkeep 

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
appspam
.DS_Store